<html>

<head>
    <title>welcome to Employee Details</title>
    <link rel="stylesheet" href="/static/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/assets/css/font-awesome.min.css">
    <script src="/static/assets/script/jquery.min.js">
    </script>
    <script src="/static/assets/script/popper.min.js">
    </script>
    <script src="/static/assets/script/bootstrap.min.js">
    </script>
    <style>
        body {
            margin: 0;
        }
        
        .header {
            height: 50px;
        }
        
        .form-control {
            width: 26%
        }
        
        .home {
            background-color: #00aeff;
        }
    </style>

</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light home">
        <a class="navbar-brand" href="#">
            <img src="/static/assets/images/Org_Competencies.png" width="50px"> EMPLOYEE DETAILS
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                </li>
            </ul>
            <div class="d-flex justify-content-end">

                <u1 class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link " href="/" role="button"><i class="fa fa-home fa-lg"></i>
                        </a>
                    </li>
                </u1>

            </div>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="row" style=height:90%>
            <div class="col-sm-2 bg-light" style="padding: 10px">

                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link" id="" href="\newemployee">New</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="\searchemployee">Search</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="\showemployee">Show</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="\uploadfile">Upload</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="\profitanalysis">Revenue Analysis</a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-10">
                <form method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="enteremployeecode">Employee Code</label>
                        <input type="text" readonly class="form-control" id="employeecode" value={{employee_code}} name="employee_code" placeholder="Enter the Employee Code">
                    </div>
                    <div class="form-group">
                        <label for="entername">Name</label>
                        <input type="text" class="form-control" id="name" value={{name}} name="name" placeholder="Enter the Name">
                    </div>

                    <div class="form-group">
                        <label for="enteremailid">EmailId</label>
                        <input type="text" class="form-control" id="emailid" value={{email_id}} name="email_id" placeholder="Enter the EmailId">
                    </div>
                    <div class="form-group">
                        <label for="entercontactno">Mobile NO</label>
                        <input type="text" class="form-control" id="contctno" value={{contact_no}} name="contact_no" placeholder="Enter the contact no">
                    </div>

                    <div>
                        <!-- <a href="/notfound"> -->
                        <button type="submit" class="btn btn-primary" onclick="updatemsg()">Save</button>
                        <script>
                            function updatemsg() {
                                alert("Employee Details Updated Successfully");
                            }
                        </script>
                    </div>

                </form>

            </div>
        </div>
    </div>

</body>

</html>